<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Add Event Details</title>-->
<!--</head>-->
<!--<body>-->
<!--    <div>-->
<!--        <form>-->
<!--            <table border="0">-->
<!--                <tr>-->
<!--                    <td>Full Description</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <textarea name="full_description" id="" cols="30" rows="10" placeholder="Detailed description visible on the event page..."></textarea>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>Organizer Name*</td>-->
<!--                    <td>Organizer Email</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>-->
<!--                        <input type="text" placeholder="e.g Department of Computer Science">-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <input type="text" placeholder="organizer@gmail.edu">-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>Tags</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td><input type="text" placeholder="Add a tag and press Enter"></td>-->
<!--                    <td><button type="button">+</button></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td></td>-->
<!--                    <td>-->
<!--                        <button type="reset">Cancel</button>-->
<!--                        <button type="submit">Create Event</button>-->
<!--                    </td>-->
<!--                </tr>-->

<!--            </table>-->
<!--        </form>-->
<!--    </div>-->
<!--</body>-->
<!--</html>-->