/* Container */

body {
    background: #f5f5f5;
}

.form-container {
    max-width: 800px;
    margin: 40px auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

/* Title */
.form-title {
    font-size: 26px;
    font-weight: 600;
    color: #8B0000;
    margin-bottom: 5px;
}

.form-subtitle {
    color: #666;
    margin-bottom: 20px;
}

/* Groups */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

.form-group label {
    margin-bottom: 6px;
    font-weight: 500;
}

/* Inputs */
.form-group input,
.form-group textarea,
.form-group select {
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    transition: 0.2s;
    font-size: 14px;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    border-color: #c1121f;
    outline: none;
    box-shadow: 0 0 0 2px rgba(193,18,31,0.1);
}

/* Rows */
.form-row {
    display: flex;
    gap: 5px;
    flex-direction: column;
}



/* Checkbox row */
.checkbox-row {
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Button */
.btn-submit {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #c1121f, #780000);
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn-submit:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(193,18,31,0.3);
}


.choices__inner {
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 8px;
}

.choices__list--multiple .choices__item {
    background-color: #b91c1c;
    border: none;
    border-radius: 8px;
}

.choices__list--multiple .choices__item.is-highlighted {
    background-color: #991b1b;
}

