<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Step-2</title>
</head>
<body>

<th:block th:fragment="register-step-2(registerDto, facultyDepartmentList)">

    <div class="d-flex flex-column justify-content-center align-items-start w-75">
        <div class="fw-bold fs-2">Academic Details</div>
        <div class="fs-6 text-black-50">Step 2 of 2 — Your academic information</div>
    </div>

    <form th:object="${registerDto}" th:action="@{/register}" method="post"
          class="d-flex flex-column justify-content-start align-items-start mt-5 pt-3 w-75">

        <th:block th:if="${errorMsg}">
            <span th:text="${errorMsg}" class="d-flex align-self-start text-danger fs-6 mb-3"></span>
        </th:block>

        <div class="d-flex flex-column align-items-center justify-content-between gap-2 w-100">

            <div class="d-flex flex-column mb-4 col-6 align-self-start">
                <label for="id" class="form-label fw-bold">Student ID</label>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text text-black-50" id="id-addon-wrapping">
                        #
                    </span>
                    <input type="text" class="form-control" id="id" aria-describedby="id-addon-wrapping"
                           th:field="${registerDto.studentId}" placeholder="e.g. TG/20xx/xxxx">
                </div>
            </div>

            <div class="d-flex flex-row align-items-center justify-content-between gap-2 w-100">

                <div class="d-flex flex-column mb-4 col-6">
                    <label for="faculty" class="form-label fw-bold">Faculty</label>
                    <select class="form-select" id="faculty" th:field="${registerDto.faculty}">
                        <option value="">Select a faculty</option>

                        <element th:each="faculty : ${facultyDepartmentList}">
                            <option th:text="${faculty.faculty}" th:value="${faculty.faculty}"></option>
                        </element>
                    </select>
                </div>


                <div class="d-flex flex-column mb-4 col-6">
                    <label for="department" class="form-label fw-bold">Department</label>
                    <select class="form-select" id="department" th:field="${registerDto.department}">
                        <option value="">Select a department</option>
                    </select>
                </div>

            </div>

        </div>

        <div class="mb-4 w-100">
            <label class="form-label fw-bold">Year of Study</label>

            <div>
                <input type="radio" class="btn-check" name="options-base" id="option5" autocomplete="off" checked>
                <label class="btn chip-text" for="option5">Year 1</label>

                <input type="radio" class="btn-check" name="options-base" id="option6" autocomplete="off">
                <label class="btn chip-text" for="option6">Year 2</label>

                <input type="radio" class="btn-check" name="options-base" id="option8" autocomplete="off">
                <label class="btn chip-text" for="option8">Year 3</label>

                <input type="radio" class="btn-check" name="options-base" id="option9" autocomplete="off">
                <label class="btn chip-text" for="option9">Year 4</label>

                <input type="radio" class="btn-check" name="options-base" id="option10" autocomplete="off">
                <label class="btn chip-text" for="option10">Year 5</label>
            </div>
        </div>


        <button type="submit" class="w-100 rounded-3 py-2 login-left-bg border-0 mt-5">
                <span class="fs-6 fw-bold text-white d-flex flex-row justify-content-center align-items-center">
                    Create Account
                    <i class="bi bi-arrow-right-short fw-bold fs-2"></i>
                </span>
        </button>

    </form>

</th:block>

</body>
</html>