<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css" integrity="sha512-2bBQCjcnw658Lho4nlXJcc6WkV/UxpE/sAokbXPxQNGqmNdQrWqtw26Ns9kFF/yG792pKR1Sx8/Y1Lf1XN4GKA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/user/dashboard.css}" />
    <link rel="stylesheet" th:href="@{/css/user/myRegistration.css}"/>

</head>
<body>

<th:block th:insert="~{user/fragment/userHeader :: header(${user})}"></th:block>

<th:block th:switch="${page}">

    <th:block th:case="'dashboard'">
        <div th:replace="~{user/fragment/dashboard :: dashboard}"></div>
    </th:block>

    <th:block th:case="'event'">
        <div th:replace="~{user/fragment/event :: event}"></div>
    </th:block>


    <th:block th:case="'approval'">
        <div th:replace="~{admin/fragment/approval :: approval}"></div>
    </th:block>

</th:block>

<script th:src="@{/js/user/header.js}"></script>

</body>
</html>