<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home_page</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet"
    />
</head>
<body>
<div class="container">


    <div class="navigate" sec:authorize="isAnonymous()">
        <a th:href="@{/login-page}">Login</a>
        <a th:href="@{/register-page}">Signup</a>
    </div>


    <div class="user-nav" sec:authorize="isAuthenticated()">
        <span class="welcome-text">Welcome, <span sec:authentication= "name" class="user-name"></span></span>

        <a href="/user/dashboard" class="nav-btn">Dashboard</a>

        <form th:action="@{/logout}" method="post" class="logout-form">
            <button type="submit" class="nav-btn">Logout</button>
        </form>
    </div>





    <div class="card1">
         <span sec:authorize="isAnonymous()">
        <p class="hello">🎓 Welcome</p>
          </span>

        <span sec:authorize="isAuthenticated()">
        <p class="hello">👋 Hii,&nbsp;<span sec:authentication="principal.firstName"></span>
        </p>
          </span>




        <h2>
            Discover & Join<br />
            University Events
        </h2>
        <p class="content">
            Browse upcoming events, register to attend, download resources, and
            track your participation — all in one place.
        </p>
        <div class="input-groups">

            <form action="/search" method="GET">

                <input
                        type="text"
                        name="keyword"
                        placeholder="Search events, topics, locations...."
                        class="searchbox"
                        id="searchInput"
                />
                <div id="suggestions"></div>
                <button type="submit" class="search-btn"><img src="./icon/homepage/Icon2.svg" /> Search</button>
            </form>
        </div>
    </div>

    <div class="card2">
        <div>
            <img src="./icon/homepage/Icon3.svg" />

            <span th:text="${eventCount}"></span>

            <p>Total Events</p>
        </div>

        <div>
            <img src="./icon/homepage/Icon4.svg" />
            <span th:text="${upcomingevents}"></span>
            <p>Upcoming</p>
        </div>

        <div>
            <img src="./icon/homepage/Icon5.svg" />

            <span sec:authorize="isAnonymous()">
                <span>0</span>
            </span>

            <span sec:authorize="isAuthenticated()">
                <span th:text="${count}"></span>
            </span>



            <p>My Registrations</p>
        </div>
    </div>
</div>

<div class="container2">
    <div class="menu">
        <a href="/"  th:classappend="${param.type == null && param.filter == null} ? 'active' : ''">🌟All</a>
        <a href="/category?type=1"   th:classappend="${param.type != null and param.type[0] == '1'} ? 'active' : ''">💻Technology</a>
        <a href="/category?type=2"  th:classappend="${param.type != null and param.type[0] == '2'} ? 'active' : ''">📚Academic</a>
        <a href="/category?type=3"    th:classappend="${param.type != null and param.type[0] == '3'} ? 'active' : ''">🏆Sports</a>
        <a href="/category?type=4"   th:classappend="${param.type != null and param.type[0] == '4'} ? 'active' : ''">💼Career</a>
        <a href="/category?type=5"   th:classappend="${param.type != null and param.type[0] == '5'} ? 'active' : ''">🎨Cultural</a>
        <a href="/category?type=6"   th:classappend="${param.type != null and param.type[0] == '6'} ? 'active' : ''">🤝Social</a>

        <div>
            <p>Upcoming only</p>
            <img src="./icon/homepage/Iconcontroll.svg" style="width: 16px; height: 16px" />
            <form action="#" th:action="@{/filter}" method="GET">
                <select name="filter" onchange="this.form.submit()">
                    <option value="" th:selected="${param.filter == null}">All</option>
                    <option value="upcoming" th:selected="${param.filter != null and param.filter[0] == 'upcoming'}">Upcoming only</option>
                    <option value="past" th:selected="${param.filter != null and param.filter[0] == 'past'}">Past events</option>
                </select>
            </form>
        </div>
    </div>


    <div class="countevent">
        <p>Total <span th:text="${eventCount}"></span> events found</p>
    </div>

    <div class="events">

        <div class="eventcard" th:each="event : ${events}">
            <div class="evemain-image">
                <img th:src="${event.image}">
            </div>

            <div class="event_content">

                <h3 th:text="${event.title}"></h3>
                <p th:text="${event.eventDescription}"></p>
                <div class="evcontainer">

                    <div>
                        <img src="./icon/homepage/evIcon.svg">
                        <label>
                            <span th:text="${#temporals.format(event.eventDate, 'dd MMM yyyy')}"></span>
                            (
                            <span th:text="${#temporals.format(event.startTime, 'hh:mm a')}"></span>
                            -
                            <span th:text="${#temporals.format(event.endTime, 'hh:mm a')}"></span>
                            )
                        </label>
                    </div>
                    <div>
                        <img src="./icon/homepage/evIcon2.svg">
                        <label th:text="${event.eventLocation}"></label>
                    </div>
                    <div>
                        <img src="./icon/homepage/evIcon3.svg">
                        <label th:text="${event.fileCount}"></label>Files found
                    </div>



                </div>
                <div class="percent-container">
                    <div>
                        <img src="./icon/homepage/evcontact.svg">
                        <label><span th:text="${event.allRegisteredCount}"></span>/<span th:text="${event.spots}"></span></label>
                    </div>

                    <div>
                        <label><span th:text="${event.spots} - ${event.allRegisteredCount}"></span> spots left</label>
                    </div>





                </div>

              <!--percentage bar !-->

                <div class="bar-container">
                    <div class="bar"
                         th:style="'width:' + ${event.registrationPercent} + '%;'"
                         th:classappend="${event.getPercentageStatus}">
                    </div>
                </div>
















                </div>

                <div class="register-event">
                    <div>
                        <link>Details <img src="./icon/homepage/Iink.svg">
                    </div>
                    <button>Register</button>
                </div>

            </div>

        </div>






    </div>

</div>


<script th:src="@{/js/home/script.js}"></script>
</body>
</html>
