<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css" integrity="sha512-2bBQCjcnw658Lho4nlXJcc6WkV/UxpE/sAokbXPxQNGqmNdQrWqtw26Ns9kFF/yG792pKR1Sx8/Y1Lf1XN4GKA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/login.css}" />
</head>
<body>

<!--left-->
<div>
    <th:block th:replace="~{fragment/logo :: logo}"></th:block>
<!--  bubble  -->
    <div></div>
    <div></div>
    <div></div>

    <div>
        <div>Welcome Back to UniEvents</div>
        <div>Your gateway to university events — register, participate, and track your academic journey all in one place.</div>
    </div>
    <div>
        <div>
            <span>
                <img th:src="@{/icon/login/calendar.svg}">
            </span>
            <span>
                <div>Browse Events</div>
                <div>Explore academic, cultural, sports & career events</div>
            </span>
        </div>
        <div>
            <span>
                <img th:src="@{/icon/login/lightining.svg}">
            </span>
            <span>
                <div>Quick Registration</div>
                <div>Register for events with a single click</div>
            </span>
        </div>
        <div>
            <span>
                <img th:src="@{/icon/login/chart.svg}">
            </span>
            <span>
                <div>Track Attendance</div>
                <div>View your participation history & records</div>
            </span>
        </div>
    </div>
</div>

<!--right-->
<div>
    <div>
        <div>Sign In</div>
        <div>Enter your credentials to access the portal</div>
    </div>
    <div>
        <form method="post" th:action="@{/login}" th:object="${loginDto}">

            <div>
                <label>Email Address</label>
                <input type="email" th:field="*{email}" placeholder="you@fot.ruh.ac.lk"/>
            </div>

            <div>
                <sapn>
                    <label>Password:</label>
                    <a>Forgot Password</a>
                </sapn>
                <input type="password" th:field="*{password}" placeholder="Enter your password"/>
            </div>

            <div>
                <input type="checkbox" value="Remember me for 30 days"/>
            </div>

            <button type="submit">Sign In</button>

        </form>
    </div>

    <div>
        <span>Don't have an account? </span>
        <a>Create Account</a>
    </div>

    <div>© 2026 UniEvents · University Event Management Portal</div>


</div>

</body>
</html>