<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css"
          integrity="sha512-2bBQCjcnw658Lho4nlXJcc6WkV/UxpE/sAokbXPxQNGqmNdQrWqtw26Ns9kFF/yG792pKR1Sx8/Y1Lf1XN4GKA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" th:href="@{/css/register.css}"/>
    <link rel="stylesheet" href="../../../static/css/login.css"/>
<!--    <link rel="stylesheet" href="../../../static/css/register.css"/>-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.bundle.min.js" integrity="sha512-HvOjJrdwNpDbkGJIG2ZNqDlVqMo77qbs4Me4cah0HoDrfhrbA+8SBlZn1KrvAQw7cILLPFJvdwIgphzQmMm+Pw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body class="d-flex flex-row min-vh-100">

<!--left-->
<div class="d-flex flex-column min-vh-100 col-6 login-left-bg position-relative overflow-hidden justify-content-between px-5 pt-5">

    <!--  bubble  -->
    <div class="position-absolute bubble bubble-1"></div>
    <div class="position-absolute bubble bubble-3"></div>

    <div class="d-flex flex-column align-items-start w-100">
        <th:block th:replace="~{fragment/logo :: logo}" class="d-flex align-self-start"></th:block>
        <div class="fw-bold fs-1 w-50 lh-sm mt-5 text-white">Join the University Community</div>
        <div class="z-1 w-75 mt-3 text-white-50">Create your account to start exploring and registering for university
            events across all departments.
        </div>
    </div>
    <div class="d-flex flex-column gap-4 mb-5 z-1">
        <!--    card    -->
        <div class="d-flex flex-row align-items-center justify-content-start rounded-3">
            <span>
                <img th:src="@{/icon/register/tick.svg}">
<!--                              <img src="../../../static/icon/register/tick.svg">-->
            </span>
            <span class="ms-4 d-flex flex-column justify-content-center align-items-start">
                <div class="text-white-50 fs-6">Access exclusive academic events</div>
            </span>
        </div>
        <div class="d-flex flex-row align-items-center justify-content-start rounded-3">
            <span>
                <img th:src="@{/icon/register/tick.svg}">
<!--                              <img src="../../../static/icon/register/tick.svg">-->
            </span>
            <span class="ms-4 d-flex flex-column justify-content-center align-items-start">
                <div class="text-white-50 fs-6">Receive event reminders & updates</div>
            </span>
        </div>
        <div class="d-flex flex-row align-items-center justify-content-start rounded-3">
            <span>
                <img th:src="@{/icon/register/tick.svg}">
<!--                              <img src="../../../static/icon/register/tick.svg">-->
            </span>
            <span class="ms-4 d-flex flex-column justify-content-center align-items-start">
                <div class="text-white-50 fs-6">Track your attendance history</div>
            </span>
        </div>
        <div class="d-flex flex-row align-items-center justify-content-start rounded-3">
            <span>
                <img th:src="@{/icon/register/tick.svg}">
<!--                              <img src="../../../static/icon/register/tick.svg">-->
            </span>
            <span class="ms-4 d-flex flex-column justify-content-center align-items-start">
                <div class="text-white-50 fs-6">Download event materials & files</div>
            </span>
        </div>
    </div>
</div>

<!--right-->
<div class="d-flex flex-column min-vh-100 col-6 bg-white justify-content-center align-items-center">

    <th:block th:if="${param.containsKey('step') && param.get('step') ==2}">
        <th:block th:replace="~{fragment/register/step-2 :: register-step-2(registerDto, errorMsg, facultyDepartmentDtoList)}"></th:block>
    </th:block>

    <th:unless>
        <th:block th:replace="~{fragment/register/step-1 :: register-step-1(${registerDto})}"></th:block>
    </th:unless>

    <th:block th:if="${errorMsg}">
        <span th:text="${errorMsg}" class="d-flex align-self-start text-danger fs-6 mb-3"></span>
    </th:block>

    <div class="d-flex flex-row justify-content-center align-items-center gap-2 mt-2">
        <span class="text-black-50">Already have an account?</span>
        <a class="forgot-password fs-6 fw-bold" th:href="@{/login-page}" type="button">Sign In</a>
    </div>

</div>

</body>
</html>